<h1>URL Shortnr</h1>

<form method="post" action="/">
  <label for="url">URL:</label>
  <input type="url" name="url" id="url" required placeholder="http://example.com">
  <input type="submit" value="Shorten!">
</form>
